@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-styling {
        @apply rounded-md bg-sectionColor p-5
    }
    .top-artist-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .top-artist-card {
        min-width: 160px;
        text-align: -webkit-center;
    }
    .album-card-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 0 auto;
    }
    .collapsed {
        overflow: hidden;
        transition: all 0.3s ease;
        height: 0;
    }
}

input, select {
    -webkit-border-radius:0;
    border-radius:0;
}

p {
  @apply whitespace-nowrap
}

* {
    @apply transition duration-300 ease-in
}

body {
    @apply bg-black box-border
}

.btn-nav {
    @apply p-1 sm:w-28 rounded-full sm:first:mr-2 text-center font-semibold tracking-wider bg-transparent border-2 border-white text-white text-sm sm:text-base;
}

.btn-nav:hover {
    @apply border-black bg-white text-black
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}