@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-styling {
        @apply rounded-md bg-sectionColor dark:bg-[#f5f5f5] p-5
    }
    .track-styling {
        @apply rounded-md p-5
    }
    .track-styling:hover {
        box-shadow: 0 0 0 2px white;
        @apply dark:shadow-[0_0_0_2px_rgba(0,0,0,1)]
    }
    .search-result-styling {
        @apply text-white dark:text-black transition duration-300 ease-in cursor-pointer overflow-hidden relative flex xs:inline w-[90%] xs:w-[160px] sm:w-[220px] h-[60px] 2xs:h-[100px] xs:h-[260px] sm:h-[300px] p-0 xs:p-3 sm:p-6 bg-neutral-900 dark:bg-neutral-300 dark:hover:bg-neutral-400 dark:border dark:border-black hover:bg-neutral-800 m-2 mb-4 2xs:mb-0 rounded-lg
    }
    .search-result-text {
        @apply text-neutral-400 dark:text-neutral-800 flex items-baseline flex-row 2xs:flex-col xs:p-0;
    }
    .top-artist-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .top-artist-card {
        min-width: 160px;
        text-align: -webkit-center;
    }
    .album-card-image {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin: 0;
    }
    .collapsed {
        overflow: hidden;
        transition: all 0.3s ease;
        height: 0;
    }
    .loader {
        text-align: -webkit-center;
    }
    .playlist_svg {
        position: relative;
    }
    .playlist_svg select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    .playlist_svg:after {
        top: 12px;
        content: url("data:image/svg+xml,%3Csvg width='35px' height='35px' viewBox='0 0 24 24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 6C15.75 6.41421 15.4142 6.75 15 6.75H3C2.58579 6.75 2.25 6.41421 2.25 6C2.25 5.58579 2.58579 5.25 3 5.25H15C15.4142 5.25 15.75 5.58579 15.75 6Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.75 10C13.75 10.4142 13.4142 10.75 13 10.75H3C2.58579 10.75 2.25 10.4142 2.25 10C2.25 9.58579 2.58579 9.25 3 9.25H13C13.4142 9.25 13.75 9.58579 13.75 10Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.75 14C9.75 14.4142 9.41421 14.75 9 14.75H3C2.58579 14.75 2.25 14.4142 2.25 14C2.25 13.5858 2.58579 13.25 3 13.25H9C9.41421 13.25 9.75 13.5858 9.75 14Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.75 18C8.75 18.4142 8.41421 18.75 8 18.75H3C2.58579 18.75 2.25 18.4142 2.25 18C2.25 17.5858 2.58579 17.25 3 17.25H8C8.41421 17.25 8.75 17.5858 8.75 18Z' fill='%23fff'/%3E%3C/g%3E%3Cpath d='M17 7.25C17.4142 7.25 17.75 7.58579 17.75 8C17.75 9.79493 19.2051 11.25 21 11.25C21.4142 11.25 21.75 11.5858 21.75 12C21.75 12.4142 21.4142 12.75 21 12.75C19.7428 12.75 18.5997 12.2616 17.75 11.4641V16.5C17.75 18.2949 16.2949 19.75 14.5 19.75C12.7051 19.75 11.25 18.2949 11.25 16.5C11.25 14.7051 12.7051 13.25 14.5 13.25C15.1443 13.25 15.7448 13.4375 16.25 13.7609V8C16.25 7.58579 16.5858 7.25 17 7.25Z' fill='%23fff'/%3E%3C/svg%3E");
        right: 8px;
        border: none;
        position: absolute;
        pointer-events: none;
    }
    .filter_icon {
        position: relative;
    }
    .filter_icon:after {
        position: absolute;
        top: 12px;
        right: 10px;
        content: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 4.6C3 4.03995 3 3.75992 3.10899 3.54601C3.20487 3.35785 3.35785 3.20487 3.54601 3.10899C3.75992 3 4.03995 3 4.6 3H19.4C19.9601 3 20.2401 3 20.454 3.10899C20.6422 3.20487 20.7951 3.35785 20.891 3.54601C21 3.75992 21 4.03995 21 4.6V6.33726C21 6.58185 21 6.70414 20.9724 6.81923C20.9479 6.92127 20.9075 7.01881 20.8526 7.10828C20.7908 7.2092 20.7043 7.29568 20.5314 7.46863L14.4686 13.5314C14.2957 13.7043 14.2092 13.7908 14.1474 13.8917C14.0925 13.9812 14.0521 14.0787 14.0276 14.1808C14 14.2959 14 14.4182 14 14.6627V17L10 21V14.6627C10 14.4182 10 14.2959 9.97237 14.1808C9.94787 14.0787 9.90747 13.9812 9.85264 13.8917C9.7908 13.7908 9.70432 13.7043 9.53137 13.5314L3.46863 7.46863C3.29568 7.29568 3.2092 7.2092 3.14736 7.10828C3.09253 7.01881 3.05213 6.92127 3.02763 6.81923C3 6.70414 3 6.58185 3 6.33726V4.6Z' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    .st1 {
        fill:none;
        @apply stroke-white dark:stroke-black;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
    }
    .animateLine {
        animation: metronomeHandle 4s infinite;
    }
    @keyframes metronomeHandle {
        0%,
        100% {
            transform: rotate(-80deg);
        }

        50% {
            transform: rotate(10deg);
        }
    }
    .zigzag {
        width: 100vw;
        height: 150px;
    }
}

input, select {
    -webkit-border-radius:0;
    border-radius:0;
}
input::placeholder, textarea::placeholder {
    @apply dark:text-black
}

p {
  @apply whitespace-nowrap
}

body {
    @apply bg-black dark:bg-neutral-300 box-border overflow-x-hidden antialiased;
}

.btn-nav {
    @apply p-3 sm:p-1 w-32 sm:w-28 rounded-full sm:first:mr-2 text-center font-semibold tracking-wider bg-transparent border-2 border-white text-white dark:border-black dark:text-black text-sm sm:text-base;
    @apply transition duration-300 ease-in;
}

@media (hover: hover) {
    .btn-nav:hover {
        @apply border-black bg-white text-black dark:bg-black dark:text-white
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-[#888888] dark:bg-black;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-[#555555] dark:bg-black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
